<template>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card ">
                    <div class="card-header">
                        <i class="fas fa-arrow-left" @click="goBack" style="cursor: pointer;"></i>
                    </div>
                    <showCandidate 
                        :candidate="propsCandidate" 
                        v-if="!editMode"
                        @editClicked="handleEditClicked"
                    ></showCandidate>
                    <editCandidate 
                        :candidate="propsCandidate"
                        v-else
                        @cancelClicked="handleCancelClicked"
                        @updateCandidateDetails="handleUpdateCandidate"
                    ></editCandidate>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import showCandidate from './ShowCandidate'
    import editCandidate from './EditCandidate'
    export default {
        mounted() {
            this.propsCandidate = this.candidate
        },
        props:['candidate'],
        methods:{
            goBack(){
                window.location.href="/candidates"
            },
            handleEditClicked(){
                this.editMode = true
            },
            handleCancelClicked(){
                this.editMode = false

            },
            handleUpdateCandidate(e){
                this.propsCandidate = e
            }
        },
        components:{
            showCandidate,
            editCandidate,
        },
        data(){
            return{
                editMode: false,
                propsCandidate: ''
            }
        }
    }
</script>
