<template>
    <div class="container mt-5">    
        <div class="row justify-content-center">
            <div class="col-8">

                <h1>The Candidates</h1>
                <!-- create candidate modal -->
                <button id="show-modal" @click="showModal = true" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Create new candidate</button>                
                <modal-component v-if="showModal" @close="showModal = false">
                    <div slot="body">
                        <admin-create-candidates></admin-create-candidates>
                    </div>
                </modal-component>     
                <!-- /create candidate modal -->                               
                <table class="table table-inverse mt-3">
                    <thead>
                        <tr>
                            <th class="w-5">#</th>
                            <th class="w-70">Name</th>
                            <th class="w-25">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="text-center" v-if="$store.getters.allCandidates == ''">
                            <td colspan="3"><p class="lead text-danger">No records found.</p></td>
                        </tr>
                        <tr v-for="(candidate,index) in $store.getters.allCandidates" :key="candidate.id">
                            <td>{{index+1}}</td>
                            <td>{{candidate.first_name +" "+ candidate.last_name}}</td>
                            <td>
                                <button @click="handleEditClicked(candidate)" class="btn btn-outline-info">
                                    <i class="fa fa-search fa-lg"></i>
                                </button>
                                <button @click="handleDeleteClicked(candidate)" class="btn btn-outline-danger">
                                    <i class="fa fa-times fa-lg"></i>
                                </button>
<!--                                 <button class="btn btn-outline-danger">
                                    <i class="fa fa-times fa-lg"></i>
                                </button>   -->                              
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.allCandidates()
        },
        props:['candidates'],
        data(){
            return{
                showModal: false
            }
        },
        methods:{
            allCandidates(){
                // console.log(this.candidates)
                this.$store.commit('candidatesToStore', this.candidates);
            },
            handleEditClicked(candidate){
                window.location.href = '/candidates/'+candidate.id
            },
            async handleDeleteClicked(candidate){
                let fd = new FormData()
                fd.append('candidate_id', candidate.id)
                const conf = confirm('delete '+candidate.first_name)
                if(conf){

                    try{
                        let {data} = await axios.post('/candidates/'+candidate.id+'/delete')
                        window.location.href = '/candidates/'

                    }catch({response}){
                        alert(response.statusText)
                    }
                }
            }
        },

    }
</script>
