<template>
    <div class="card-body">
        <form @submit.prevent="handleUpdateCandidate">
            <h3 class="card-title">{{text_firstName}}</h3>
            <p>
                <button class="btn btn-danger btn-sm" @click="handleCancelClick"><i class="fa fa-times"></i> Cancel</button>
                <btn-component class="btn-sm" :fa="fa" :labeltext="labeltext" :isLoading="isLoading"></btn-component>
            </p>
            <table class="table table-inverse">
                <tbody>
                    <tr class="form-group">
                        <td class="w-25"><label class="form-control-label">First Name:</label></td>
                        <td class="w-75"> <input type="text" class="form-control" v-model="text_firstName"></td>
                    </tr>
                    <tr>
                        <td class="w-25"><label class="form-control-label">Last Name:</label></td>
                        <td class="w-75"> <input type="text" class="form-control" v-model="text_lastName"></td>                    
                    </tr>
                    <tr>
                        <td class="w-25"><label class="form-control-label">Institution/Organization:</label></td>
                        <td class="w-75"> <input type="text" class="form-control" v-model="text_organization"></td>                    
                    </tr>                
                    <tr>
                        <td class="w-25"><label class="form-control-label">Display Picture:</label></td>
                        <td class="w-75">                        <!-- Styled -->
                            <b-form-file
                              v-model="file"
                              :state="Boolean(file)"
                              placeholder="Choose a file or drop it here..."
                              drop-placeholder="Drop file here..."
                            ></b-form-file></td>
                    </tr>                                                       
                </tbody>
            </table>
        </form>
    </div>
</template>

<script>
    import BtnComponent from '../components/BtnComponent'
    export default {
        components:{
            'btn-component': BtnComponent
        },        
        mounted() {
            this.text_firstName = this.candidate.first_name
            this.text_lastName = this.candidate.last_name
            this.text_organization = this.candidate.organization
        },
        props:['candidate'],
        methods:{
            handleCancelClick(){
                this.$emit('cancelClicked');
            },
            async handleUpdateCandidate(){
                this.isLoading = !this.isLoading
                this.labeltext = 'Please wait'                
                let fd = new FormData();
                fd.append('candidate_id', this.candidate.id);
                fd.append('file', this.file);
                fd.append('first_name', this.text_firstName);
                fd.append('last_name', this.text_lastName);
                fd.append('organization', this.text_organization);

                let {data} = await axios.post('/candidates/update',fd)
                this.isLoading = !this.isLoading
                this.labeltext = 'Update'
                this.$emit('updateCandidateDetails', data.candidate)
                this.handleCancelClick()

                    // .then(({data})=>{
                    //     this.$store.commit('pushNewCandidate', data.candidate)
                    //     this.clearInputs()
                    // })
            }        
        },
        data(){
            return{
                text_firstName: '',
                text_lastName: '',
                file: '',
                text_organization: '',
                fa: 'fa fa-save',
                labeltext: 'Update',
                isLoading: false                
            }
        },

    }
</script>
