<template>
    <tbody>
        <tr v-for="voter in voters" :key="voter.id">
            <td><input type="text" :value="voter.first_name"><input type="text" :value="voter.last_name"></td>
            <td>
              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" :checked="voter.isEligible">
                  <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                </div>
              </div>
            </td>
            <td><input type="text" :value="voter.voter_code"></td>
            <td>
                <button class="btn btn-primary" @click="handleEditClicked(voter)"><i class="fa fa-edit"></i></button>
            </td>
        </tr>
    </tbody>
</template>

<script>
    export default {
        mounted() {
            
        },
        props:['voters','voterSelectedForEdit'],
        methods:{
            handleEditClicked(e){
                this.$emit('editClicked',e);
            }
        }
    }
</script>
