<template>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create candidate</h4>
            <hr>
            <form @submit.prevent="handleSaveCandidate">
                <div class="form-group row">
                  <label for="fname" class="col-sm-2 col-form-label">First Name:</label>
                  <div class="col-sm-4">
                    <input type="text"  class="form-control" placeholder="First name here" v-model="text_fname" required>
                  </div>
                  <label for="lname" class="col-sm-2 col-form-label">Last Name:</label>
                  <div class="col-sm-4">
                    <input type="text"  class="form-control" placeholder="Last name here" v-model="text_lname" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="fname" class="col-sm-4 col-form-label">Institution/Organization:</label>
                  <div class="col-sm-8">
                    <input type="text"  class="form-control" placeholder="Institution/Organization here" v-model="text_organization" required>
                  </div>
                </div>                
                <div class="form-group row">
                    <label for="dp" class="col-sm-4 col-form-label">Upload display picture:</label>
                    <b-col col sm="8">
                        <!-- Styled -->
                        <b-form-file
                          required
                          v-model="file"
                          :state="Boolean(file)"
                          placeholder="Choose a file or drop it here..."
                          drop-placeholder="Drop file here..."
                        ></b-form-file>
                    </b-col>
                </div>                          
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <btn-component :fa="fa" :labeltext="labeltext" :isLoading="isLoading"></btn-component>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import BtnComponent from '../components/BtnComponent'
    export default {
        components:{
            'btn-component': BtnComponent
        },
        mounted() {
         
        },
        data(){
            return{
                file: null,
                text_fname:'',
                text_lname:'',
                text_organization: '',
                fa: 'fa fa-save',
                labeltext: 'Save',
                isLoading: false
            }
        },
        watch:{
            file(e){
                // console.log(e)
            }
        },
        methods:{
            async handleSaveCandidate(){
                this.isLoading = !this.isLoading
                this.labeltext = 'Please wait'
                let fd = new FormData();
                fd.append('file', this.file);
                fd.append('first_name', this.text_fname);
                fd.append('last_name', this.text_lname);
                fd.append('organization', this.text_organization);

                let {data} = await axios.post('candidates/save',fd)
                this.isLoading = !this.isLoading
                this.labeltext = 'Save'
                this.$store.commit('pushNewCandidate', data.candidate)
                this.clearInputs()                    


                    // .then(({data})=>{
                    //     this.$store.commit('pushNewCandidate', data.candidate)
                    //     this.clearInputs()
                    // })
            },
            clearInputs(){
                this.file = null
                this.text_fname = ''
                this.text_lname = ''
                this.text_organization = ''
            }
        }
    }
</script>
