<template>
    <div class="card text-dark">
        <div class="card-body">
            <h4 class="card-title">Enroll voter</h4>
            <hr>
            <form @submit.prevent="handleSaveVoter">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Institution/Organization:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Institution/Organization here" v-model="text_organization" required="">
                  </div>                                             
                </div>                
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">First Name:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="First name here" v-model="text_fname" required="">
                  </div>
                  <label class="col-sm-2 col-form-label">Last Name:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Last name here" v-model="text_lname" required="">
                  </div>                                              
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Email address:</label>
                  <div class="col-sm-4">
                    <input type="email" class="form-control" placeholder="Email address here" v-model="text_email" required="">
                  </div>                
                  <label class="col-sm-2 col-form-label">Position/Designation:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Position/Designation here" v-model="text_designation" required="">
                  </div>
                </div>                                
                <hr>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Voting Status:</label>
                  <div class="col-sm-9">
                    <select class="custom-select" v-model="select_votingStatus">
                      <option :value="status.key" v-for="status in votingStatus" :key="status.key">{{status.value}}</option>
                    </select>                                                
                  </div>
                </div>                                            
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <btn-component :fa="fa" :labeltext="labeltext" :isLoading="isLoading"></btn-component>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import BtnComponent from '../components/BtnComponent'
    export default {
        components:{
            'btn-component': BtnComponent
        },        
        mounted() {
         
        },
        props:['votingStatus'],
        data(){
            return{
                text_fname:'',
                text_lname:'',
                select_votingStatus: 1,
                text_organization: '',
                text_email: '',
                text_designation: '',
                fa: 'fa fa-save',
                labeltext: 'Save',
                isLoading: false                
            }
        },
        watch:{
        },
        methods:{
            async handleSaveVoter(){
                this.isLoading = !this.isLoading
                this.labeltext = 'Please wait'                
                let fd = new FormData();
                fd.append('first_name', this.text_fname);
                fd.append('last_name', this.text_lname);
                fd.append('isEligible', this.select_votingStatus);
                fd.append('organization', this.text_organization);
                fd.append('email', this.text_email);
                fd.append('designation', this.text_designation);

                let {data} = await axios.post('voters/save',fd)
                this.isLoading = !this.isLoading
                this.labeltext = 'Save'                
                this.$emit('pushToVoterList', data.voter);
                this.clearInputs()                    
                this.select_votingStatus = 1
            },
            clearInputs(){
                this.text_fname = ''
                this.text_lname = ''
                this.select_votingStatus = ''
                this.text_organization = ''
                this.text_email = ''
                this.text_designation = ''
            }
        }
    }
</script>
