<template>
    <div class="container ">
        <div class="row justify-content-center d-print-none mt-5">
            <div class="col-5">
                <h5>Settings</h5>
                <hr>
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Masking:</label>
                    <select class="custom-select custom-select-lg|custom-select-sm form-control" v-model="select_masked">
                      <option :value="option.key" :selected="settings.isMasked == option.key" v-for="(option, index) in maskedOptions" :key="index">{{option.value}}</option>
                    </select>
                  </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-12 col-form-label">Start at:</label>
                        <div class="col-sm-12">
                            <input type="datetime-local" class="form-control-plaintext" id="staticEmail" v-model="date_start"   >
                        </div>
                    </div>
                    <hr>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-12 col-form-label">End at:</label>
                        <div class="col-sm-12">
                            <input type="datetime-local" class="form-control-plaintext" id="staticEmail" v-model="date_end" >
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="my-input">Not yet message</label>
                        <input id="my-input" v-model="text_not_yet_msg" class="form-control" type="text" name="">
                    </div>
                    <div class="form-group">
                        <label for="my-input">Closed message</label>
                        <input id="my-input" v-model="text_closed_msg" class="form-control" type="text" name="">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="my-input">Add voting codes</label>
                        <input id="my-input" v-model="number_voting_code_quantity" class="form-control" type="number" name="">
                    </div>
                    <div class="form-group">
                        <label for="my-input">Vote count</label>
                        <input id="my-input" v-model="number_count" class="form-control" type="number" name="">
                    </div>
                  <button type="button" class="btn btn-success btn-lg|btn-sm" @click="handleSaveSettings">Save</button>
                </form>
                
            </div>
            <div class="col-7">
                <div class="card rounded-0">
                    <div class="card-body">
                        <div class="row">
                          <label class="col-4 col-form-label">Print voting codes:</label>
                          <div class="col-8">
                            <div class="form-group">
                                <button class="btn btn-secondary" @click="handlePrintCodeClicked"><i class="fa fa-print"></i></button>
                            </div>
                          </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>


        <div class="d-none d-print-block">
            <table class="table-bordered">
                <tbody >
                    <tr  v-for="(codes,index) in thisComponentVotingCodes" :key="index" >
                        <td v-for="(code,i) in codes" :key="i">
                            <div class="card border-primary ">
                                <div class="card-body  m-0 p-0">
                                    <div class="card">
                                        <div class="card-body pb-0 mb-0">
                                            <div class="row d-flex justify-content-center align-items-center">
                                                <div class="col-2 col-offset-3">
                                                    <img class="img-fluid w-100" :src="thisComponentSetup.company_logo" alt="Company logo">
                                                </div>
                                                <div class="col-7">
                                                    <p>{{thisComponentSetup.company_name}}</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="text-center">Voter's Copy</h5>
                                            <hr>
                                            <div class="row  align-items-center justify-content-center">
                                                <div class="col-2">
                                                    <p class="lead">Code:</p>
                                                </div>
                                                <div class="col-8">
                                                    <VueBarcode :height="50" :width="2" :value="code.voting_code"></VueBarcode>
                                                </div>
                                            </div>   
                                            <div class="row  align-items-center justify-content-center">
                                                <div class="col-5">
                                                    <p class="">Signature of Voter:</p>
                                                </div>
                                                <div class="col-7">
                                                    <p class="">______________________________</p>
                                                </div>
                                            </div> 
                                            <div class="row  align-items-center justify-content-center">
                                                <div class="col-5">
                                                    <p class="">Issued by:</p>
                                                </div>
                                                <div class="col-7">
                                                    <p class="">______________________________</p>
                                                </div>
                                            </div>    
                                            <div class="row  align-items-center justify-content-center">
                                                <div class="col-5">
                                                    <p class="">Institution/Organization:</p>
                                                </div>
                                                <div class="col-7">
                                                    <p class="" v-if="code.voter"><u>{{code.voter.organization}}</u></p>
                                                    <p class="" v-else>______________________________</p>
                                                </div>
                                            </div>                                                                                                                
                                        </div>
                                    </div>
                                    <hr  style="border: 1px dotted black" class="p-0 m-0">
                                    <div class="card ">
                                        <div class="card-body  pb-0 mb-0">
                                            <div class="row d-flex justify-content-center align-items-center">
                                                <div class="col-2 col-offset-3">
                                                    <img class="img-fluid w-100" :src="thisComponentSetup.company_logo" alt="Company logo">
                                                </div>
                                                <div class="col-7">
                                                    <p>{{thisComponentSetup.company_name}}</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="text-center">Canvassers' Copy</h5>
                                            <hr>
                                            <div class="row  align-items-center justify-content-center">
                                                <div class="col-2">
                                                    <p class="lead">Code:</p>
                                                </div>
                                                <div class="col-8 ">
                                                    <VueBarcode :height="50" :width="2" :value="code.voting_code"></VueBarcode>
                                                </div>
                                            </div>   
                                            <div class="row  align-items-center justify-content-center">
                                                <div class="col-5">
                                                    <p class="">Signature of Voter:</p>
                                                </div>
                                                <div class="col-7">
                                                    <p class="">______________________________</p>
                                                </div>
                                            </div> 
                                            <div class="row  align-items-center justify-content-center">
                                                <div class="col-5">
                                                    <p class="">Issued by:</p>
                                                </div>
                                                <div class="col-7">
                                                    <p class="">______________________________</p>
                                                </div>
                                            </div>                                                                        
                                        </div>
                                    </div>                            
                                </div>
                            </div>                            
                        </td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
</template>

<script>
    import VueBarcode from 'vue-barcode';
    export default {
        mounted() {
            this.select_masked = this.thisComponentSettings.isMasked
            this.text_not_yet_msg = this.settings.not_yet_message
            this.text_closed_msg = this.settings.closed_message
            this.date_start = this.thisComponentSettings.start_period
            this.date_end = this.thisComponentSettings.end_period
            this.number_count = this.thisComponentSetup.vote_count
        },
        data(){
            return{
                maskedOptions:[
                    {key: 0, value:'Masked'},
                    {key: 1, value:'Unmasked'},
                ],
                thisSetting: [],
                select_masked: '',
                date_start: null,
                date_end: null,
                text_not_yet_msg: '',
                text_closed_msg: '',
                showModal: false,
                number_voting_code_quantity: 0,
                number_count: 0


            }
        },
        props: ['settings', 'votingcodes', 'setup'],
        computed:{
            thisComponentSettings(){
                return this.thisSetting = this.settings
            },
            thisComponentVotingCodes(){
                return _.chunk(this.votingcodes,2)
            },
            thisComponentSetup(){
                return this.setup
            },
        },
        methods:{
            async handleSaveSettings(){
                try{
                    let fd = new FormData();
                    fd.append('isMasked', this.select_masked);
                    fd.append('start_period', this.date_start);
                    fd.append('end_period', this.date_end);
                    fd.append('not_yet_message', this.text_not_yet_msg);
                    fd.append('closed_message', this.text_closed_msg);
                    fd.append('quantity', this.number_voting_code_quantity);
                    fd.append('vote_count', this.number_count);
                    let {data} = await axios.post('settings/save',fd)
                    this.makeToast();
                }catch({response}){
                    alert(response.data.message)
                }

                
            },
            makeToast(){
                this.$bvToast.toast('Setting successfully saved.', {
                  title: `Update success!`,
                  variant: 'success',
                  toaster: 'b-toaster-top-center',
                  solid: true
                })                           
            },
            handlePrintCodeClicked(){
                setTimeout(window.print(), 10)
                // alert('The feature is not available this time.')
            },
            
        },
        components:{
            VueBarcode
        },
        watch:{
            select_masked(e){
            }
        }
                

    }
</script>
