<template>
    <div class="card-body">
        <h3 class="card-title">{{candidate.first_name}}</h3>
        <p><button class="btn btn-primary btn-sm" @click="handleEditClick"><i class="fa fa-edit"></i> Edit</button></p>
        <table class="table table-inverse">
            <tbody>
                <tr>
                    <td class="w-25"><p>First Name:</p></td>
                    <td class="w-75"><p class="">{{candidate.first_name}}</p></td>
                </tr>
                <tr>
                    <td class="w-25"><p>Last Name:</p></td>
                    <td class="w-75"><p class="">{{candidate.last_name}}</p></td>
                </tr>
                <tr>
                    <td class="w-25"><p>Institution/Organization:</p></td>
                    <td class="w-75"><p class="">{{candidate.organization}}</p></td>
                </tr>                
                <tr>
                    <td class="w-25"><p>Display Picture:</p></td>
                    <td class="w-75"><img class="candidate_dp" :src="candidate.dp" alt=""></td>
                </tr>                                                       
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        mounted() {
            // console.log('Component mounted.')
        },
        props:['candidate'],
        methods:{
            handleEditClick(e){
                this.$emit('editClicked');
            }
        }
    }
</script>
