<template>
    <tbody>
        <tr v-for="voter in voters" :key="voter.id">
            <td>{{voter.first_name+" "+voter.last_name}}</td>
            <td>{{voter.isEligible}}</td>
            <td>{{voter.voter_code}}</td>
            <td>
                <button class="btn btn-primary" @click="handleEditClicked(voter)"><i class="fa fa-edit"></i></button>
            </td>
        </tr>
    </tbody>
</template>

<script>
    export default {
        mounted() {
            
        },
        props:['voters','voterSelectedForEdit'],
        methods:{
            handleEditClicked(e){
                this.$emit('editClicked',e);
            }
        }
    }
</script>
