<template>
    <div>
        <updateVcModal
             v-if="showModal" 
             @close="showModal = false"
        >
            <div slot="header">
                <h3>Update Voting Code</h3>
                <p class="text-warning"><i class="fas fa-info-circle"></i> By updating the voting code, the cast votes of the voter will be void.</p>
                <div class="alert alert-danger" role="alert" v-if="votingCodeError">
                    <p class="lead"><strong>Something went wrong!</strong>{{votingCodeError}}</p>
                </div>
            </div>
            <div slot="body">
                <form @submit.prevent="handleUpdateCodeSaveClicked">
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Voting Code:</label>
                      <div class="col-sm-10">
                        <input type="text" :disabled="voterSelectedForUpdateCode.isEligible == 0" v-focus class="form-control" v-model="text_votingCode" >
                        <p class="text-danger lead" v-if="voterSelectedForUpdateCode.isEligible == 0"> The voter is not eligible to vote. You cannot issue a voting code.</p>
                      </div>
                    </div>                
                    <btn-component :fa="fa" :labeltext="modalLabeltext" :isLoading="modalIsLoading"></btn-component>
                    <button class="btn btn-danger" @click.prevent="()=>{showModal = false; votingCodeError=false;  }"><i class="fas fa-times "></i>Cancel</button>                
                </form>
            </div>
            <div slot="footer">
                <p></p>
            </div>
        </updateVcModal>        
        <div class="row">
            <div class="col-4 col-form-label">
                <p class="text-info my-2" v-if="!hasResult"><i class="fas fa-info-circle"></i> Recently added voters</p>        
                <p class="text-info my-2" v-if="hasResult"><i class="fas fa-info-circle"></i> Search Results</p>        
                
            </div>
            <div class="col-4 offset-4">
                <form @submit.prevent="handleSearch">
                    <div class="form-group">
                      <div class="form-group">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                          </div>
                          <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Search voter" 
                            v-model="text_search"
                          />
                        </div>
                      </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-hover table-inverse table-responsive ">
            <thead>
                <th>Institution/Organization</th>
                <th>Name</th>
                <th>Position/Designation</th>
                <th>Email address</th>
                <th>Voting Status</th>
                <th>Voting Code</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr class="text-center" v-if="fromParentVoters == ''">
                    <td colspan="6"><p class="lead text-danger">No records found.</p></td>
                </tr>                                    
                <tr v-for="voter in fromParentVoters" :key="voter.id" >
                    <td v-if="voterSelectedForEdit != voter.id">{{voter.organization}}</td>
                    <td v-if="voterSelectedForEdit != voter.id">{{voter.first_name+" "+voter.last_name}}</td>
                    <td v-if="voterSelectedForEdit != voter.id">{{voter.designation}}</td>
                    <td v-if="voterSelectedForEdit != voter.id">{{voter.email}}</td>
                    <td v-if="voterSelectedForEdit != voter.id" v-html="renderVotingStatus(voter.isEligible)"></td>
                    <td v-if="voterSelectedForEdit != voter.id">{{voter.voter_code ? voter.voter_code :  'No code yet' }}</td>
                    <td v-if="voterSelectedForEdit != voter.id">
                        <button title="Edit" class="btn btn-primary" @click="handleEditClicked(voter)"><i class="fa fa-edit"></i></button>
                        <button v-if="voter.isEligible != 0" title="Update Code" class="btn btn-secondary" type="button" @click.prevent="handleUpdateCodeClicked(voter)"><i class="fas fa-barcode"></i></button>
                    </td>

                    <!-- editmode -->
                    <td v-if="voterSelectedForEdit == voter.id">  
                      <div class="form-group">
                        <div class="col">
                            <input type="text" class="form-control" v-model="text_organization" required="">
                        </div>
                      </div>
                    </td>                    
                    <td v-if="voterSelectedForEdit == voter.id">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" v-model="text_firstName" required="">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" v-model="text_lastName" required="">
                            </div>
                        </div>
                    </td>
                    <td v-if="voterSelectedForEdit == voter.id">  
                      <div class="form-group">
                        <div class="col">
                            <input type="text" class="form-control" v-model="text_designation" required="">
                        </div>
                      </div>
                    </td>                      
                    <td v-if="voterSelectedForEdit == voter.id">  
                      <div class="form-group">
                        <div class="col">
                            <input type="email" class="form-control" v-model="text_email" required="">
                        </div>
                      </div>
                    </td>                      
                    <td v-if="voterSelectedForEdit == voter.id">  
                      <div class="form-group">
                        <select class="custom-select" v-model="select_votingStatus">
                          <option :value="status.key" v-for="status in votingStatus" :key="status.key">{{status.value}}</option>
                        </select>
                      </div>
                    </td>
                    <td v-if="voterSelectedForEdit == voter.id">
                        <div class="form-group">
                            <input type="text" class="form-control" readonly :value="text_votingCode">
                        </div>
                    </td>
                    <td v-if="voterSelectedForEdit == voter.id" nowrap="">
                        <button class="btn btn-success btn-sm" :disabled="isLoading" @click.prevent="handleUpdateClicked">
                            <i class="fa fa-save" v-if="!isLoading"></i>
                            <i class="fa fa-spinner fa-spin" v-else></i>
                        </button>
                        <button class="btn btn-danger btn-sm" @click.prevent="handleCancelUpdateClicked"><i class="fa fa-times"></i></button>
                    </td>     
                    <!-- /editmode -->                                
                </tr>
            </tbody>
        </table>

    </div>
</template>

<script>
 const focus = {
    inserted(el) {
      el.focus()
    },
  }    
  import BtnComponent from '../components/BtnComponent'
    import updateVcModal from '../components/Modal'
    export default {
        components:{
            'btn-component': BtnComponent,
            updateVcModal
        },
        directives: { focus },
        mounted() {
            
        },
        props:['parentVoters', 'votingStatus'],
        methods:{
            // handleEditClicked(voter){
            //     this.$emit('editVoterClickedProps', voter)
            // },
            renderVotingStatus(status){

                if(status == 1){
                    return `<p class="text-success">Eligible</p>`
                }else{
                    return `<p class="text-danger">Ineligible</p>`

                }
            },
            handleEditClicked(e){
                this.votingCodeError = ''
                // this.isEditMode = true
                this.voterSelectedForEdit = e.id
                for(let i in this.fromParentVoters){
                    if(this.fromParentVoters[i].id == e.id){
                        this.text_organization =  this.fromParentVoters[i].organization
                        this.text_firstName =  this.fromParentVoters[i].first_name
                        this.text_lastName =  this.fromParentVoters[i].last_name
                        this.text_designation =  this.fromParentVoters[i].designation
                        this.text_email =  this.fromParentVoters[i].email
                        this.select_votingStatus =  this.fromParentVoters[i].isEligible
                        this.text_votingCode =  this.fromParentVoters[i].voter_code                        
                    }
                }
                this.isClicked = false
            },          
            handleCancelUpdateClicked(){
                this.voterSelectedForEdit = ''
                this.isClicked = false
            },    
            // async handleRequestForNewVoteCode(){
            //     let fd = new FormData();
            //     fd.append('voter_code', this.text_votingCode);

            //     let {data} = await axios.post('/voters/new-vote-code', fd)
            //     this.isClicked = true
            //     this.text_votingCode = data.vote_code
            //     this.makeToast()     
            // },

            makeToast(){
                this.$bvToast.toast('By updating the voting code, the cast votes of the voter will be void.', {
                  title: `Warning`,
                  variant: 'warning',
                  toaster: 'b-toaster-top-center',
                  solid: true
                })                           
            },


            async handleUpdateClicked(){
                this.isLoading = !this.isLoading
                this.labeltext = ''                
                let fd = new FormData();
                fd.append('id', this.voterSelectedForEdit);
                fd.append('organization', this.text_organization);
                fd.append('first_name', this.text_firstName);
                fd.append('last_name', this.text_lastName);
                fd.append('designation', this.text_designation);
                fd.append('email', this.text_email);
                fd.append('isEligible', this.select_votingStatus);

                let {data} = await axios.post('voters/update',fd)
                if(data.voting_code){
                    this.isLoading = !this.isLoading
                    this.labeltext = ''
                    this.votingCodeError = data.voting_code
                    this.voterSelectedForEdit = ''    
                    this.isClicked=false
                    this.votingCodeError = '' 
                }else{

                    for(let i in this.fromParentVoters){
                        if(this.fromParentVoters[i].id == this.voterSelectedForEdit){
                            this.fromParentVoters[i].organization = this.text_organization
                            this.fromParentVoters[i].first_name = this.text_firstName
                            this.fromParentVoters[i].last_name = this.text_lastName
                            this.fromParentVoters[i].designation = this.text_designation
                            this.fromParentVoters[i].email = this.text_email
                            this.fromParentVoters[i].isEligible = this.select_votingStatus
                            this.fromParentVoters[i].voter_code  = this.select_votingStatus == 1 ? this.text_votingCode : null       
                        }
                    } 
                    this.isLoading = !this.isLoading
                    this.labeltext = ''        
                    this.voterSelectedForEdit = ''    
                    this.isClicked=false
                    this.votingCodeError = ''
                }

            },                     
            handlePrintClicked(voter){
                this.$emit('handlePrintClickedProps', voter);
            },
            async handleSearch(){
                let fd = new FormData();
                fd.append('searchString', this.text_search);

                let {data} = await axios.post('voters/search', fd);
                this.fromParentVoters = data.voters
                if(this.text_search != ''){
                    this.hasResult = true
                }else{
                    this.hasResult = false

                }
            },
            handleUpdateCodeClicked(voter){
                this.showModal = true
                this.voterSelectedForUpdateCode = voter
                this.text_votingCode = voter.voter_code
            },
            async handleUpdateCodeSaveClicked(){
                this.modalIsLoading = !this.modalIsLoading
                this.modalLabeltext = 'Please wait'                    
                let fd = new FormData();
                fd.append('voting_code' , this.text_votingCode);
                fd.append('voter_id' , this.voterSelectedForUpdateCode.id);
                let {data} = await axios.post('voters/updateVotingCode',fd)
                this.modalIsLoading = !this.modalIsLoading
                this.modalLabeltext = 'Save'                
                if(data.voting_code){
                    this.votingCodeError = data.voting_code
                    this.text_votingCode = ''
                }else{

                    for(let i in this.fromParentVoters){
                        if(this.fromParentVoters[i].id == this.voterSelectedForUpdateCode.id){
                            this.fromParentVoters[i].voter_code  = this.text_votingCode                   
                        }
                    }         
                    this.voterSelectedForEdit = ''    
                    this.isClicked=false
                    this.votingCodeError = ''
                    this.showModal = false
                }
            }
        },
        data(){
            return{
                text_organization: '',
                text_firstName: '',
                text_lastName: '',
                text_designation: '',
                text_email:'',
                select_votingStatus: 1,
                text_votingCode: '',   
                voterSelectedForEdit:'',
                text_search: '',
                hasResult: false,
                votingCodeError:'',
                showModal: false,
                voterSelectedForUpdateCode: [],
                fa: 'fa fa-save',
                labeltext: '',
                modalLabeltext: 'Save',
                isLoading: false,               
                modalIsLoading: false,               
            }
        },
        computed:{
            fromParentVoters:{
                // getter
                get: function () {
                    return this.parentVoters
                },
                // setter
                set: function (newValue) {
                    this.parentVoters = newValue
                }                
            }
        },
    }
</script>
