<template>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card d-print-none">
                    <div class="alert alert-danger" role="alert" v-show="!isSuccess">
                        <strong>Something went wrong!</strong> Assigning voting code failed. Please try again.
                    </div>
                    <div class="card-header bg-primary text-dark">
                        <h3 class="text-light">Voter Management</h3>
                        <!-- <button class="btn float-right btn-secondary" @click="handleAssignVotingBtnClicked">
                            <span v-if="!isLoading"><i class="fa fa-edit"></i> Assign voting codes to all the voters</span>
                            <span v-else><i class="fa fa-spinner fa-spin"></i> Assigning. Please wait.</span>
                        </button> -->
                        <!-- create voter modal -->
                        <button id="show-modal" @click="showModal = true" class="btn btn-info btn-sm"><i class="fa fa-user-plus"></i> enroll voter</button>                
                        <modal-component v-if="showModal" @close="showModal = false">
                            <div slot="body">
                                <admin-create-voter 
                                    :votingStatus="votingStatus"
                                    @pushToVoterList="handlePushToVoterList"
                                ></admin-create-voter>
                            </div>
                        </modal-component>     
                        <!-- /create voter modal -->                               

                    </div>
                    <div class="container">
                        
                        <div class="float-right">
                            Available Voting Code: {{available_vc}}    
                        </div>
                    </div>
                    <div class="card-body">
                        <voterTable 
                            :parentVoters="propsVoters"
                            :voterSelectedForEdit="voterSelectedForEdit"
                            :isClicked="isClicked"
                            :votingStatus="votingStatus"
                            @handlePrintClickedProps="handlePrintClicked"
                        >
                        </voterTable>

                    </div>
                </div>
                <!-- for print issued voting code -->
                <div class="d-none d-print-block container" >
                    <div class="row justify-content-start">
                        <div class="col-6">
                            <div class="card rounded-0 card-success">
                                <div class="card-body">
                                    <h4 class="card-title">{{voterSelectedForPrint.first_name +" "+voterSelectedForPrint.last_name}} voting details</h4>
                                    <table class="table table-inverse table-striped">
                                        <tbody>
                                            <tr>
                                                <td class="w-25">Name:</td>
                                                <td class="w-75" >{{voterSelectedForPrint.first_name +" "+voterSelectedForPrint.last_name}}</td>
                                            </tr>
                                            <tr>
                                                <td class="w-25">Voting Status:</td>
                                                <td class="w-75">{{voterSelectedForPrint.isEligible ? 'Eligible to vote' : 'Not Eligible to vote'}}</td>
                                            </tr>                                            
                                            <tr>
                                                <td class="w-25">Voting Code:</td>
                                                <td class="w-75">{{voterSelectedForPrint.voter_code}}</td>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <!-- /for print issued voting code -->                
            </div>
        </div>
    </div>
</template>

<script>
    import voterTable from './VoterTable'
    export default {
        mounted() {
            this.propsVoters = this.voters
        },
        props:['voters', 'available_vc'],
        data(){
            return{
                propsVoters:[],
                isEditMode: false,
                voterSelectedForEdit: '',
                voterSelectedForPrint: '',
                votingStatus : [
                    {key : 1, value: 'Eligible'},
                    {key : 0, value: 'Ineligible'},
                ],
                showModal: false,
                isClicked: false,
                isLoading: false,
                isSuccess: true            
            }
        },
        components:{
            voterTable
        },
        methods:{
            handlePushToVoterList(e){
                this.propsVoters.unshift(e);
            },
            handlePrintClicked(e){
                this.voterSelectedForPrint = e
                setTimeout(()=>{window.print()},100)
            },
            async handleAssignVotingBtnClicked(){
                this.isLoading = true
                let {data} = await axios.get('/voters/assign-voting-code');
                if(data.status === 'ok'){
                    window.location.href="/voters"
                }else{
                    
                    this.isSuccess = false;
                }
                
                this.isLoading = false

            }

        },

    }
</script>
