<template>
    <div :class="props_modalshow ? 'modal-open': ''">
        <!-- Modal -->
        <div class="modal fade" :class="props_modalshow ? 'show' : ''" :style="props_modalshow ? 'display: block;' : ''" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" :class="props_modalsize ? props_modalsize : ''" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <slot name="header">
                  
                </slot>
              </div>
              <div class="modal-body">
                <slot name="body">
                  
                </slot>              
              </div>
              <div class="modal-footer">
                <slot name="footer">
                    
                </slot>
              </div>
            </div>
          </div>
        </div>        
        <div class="modal-backdrop fade show" v-if="props_modalshow"></div>    
    </div>
</template>

<script>
    export default {
        mounted() {
            
        },
        props:['props_modalshow','props_modalsize']
    }
</script>
