<template>
    <button class="btn btn-success" :disabled="isLoading">
        <span v-if="!isLoading"><i :class="fa"></i> {{labeltext}}</span>
        <span v-else><i class="fa fa-spinner fa-spin"></i> {{labeltext}}</span>
    </button>
</template>

<script>
    export default {
        mounted() {
        },
        props: ['isLoading','labeltext','fa']
    }
</script>
