<template>
    <div class="container mt-5">
        <ViewUnmaskedRankingModal v-if="showModal" @close="showModal = false" >
            <div slot="header"><h3><i class="fa fa-info-circle"></i> Verification</h3></div>
            <div slot="body">
                <div class="alert alert-danger" role="alert" v-if="passwordNotExists">
                    <p class="lead"><strong>Something went wrong!</strong> Verification failed.</p>
                </div>
                <form @submit.prevent="handleUnmaskedBtnClicked">
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Password</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" placeholder='Enter password' v-model="text_password" autofocus="">
                      </div>
                    </div>             
                    <button class="btn btn-success"><i class="fas fa-paper-plane"></i> Submit</button>   
                    <button class="btn btn-danger" @click.prevent="()=>{showModal = false; passwordNotExists=false; text_password=''}"><i class="fas fa-times" ></i> cancel</button>   
                </form>
            </div>
            <div slot="footer"></div>

        </ViewUnmaskedRankingModal>
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <h1 class="text-primary">{{titleText}}</h1>
                <hr class="my-4">
            </div>
        </div>

        <div class="row justify-content-center  mt-3" >
            <div class="col-8" v-if="thisIsMasked == 1" >
<!--                 <div class="card mb-3">
                  <h3 class="card-header text-info">#{{index+1}}</h3>
                  <img :src="candidate.dp" class="img-thumbnail card-img-top img-fluid" alt="Card image">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-user"></i> {{candidate.first_name +" "+ candidate.last_name}}</li>
                    <li class="list-group-item"><i class="fa fa-university" aria-hidden="true"></i> {{candidate.organization}}</li>
                    <li class="list-group-item"><i class="fas fa-poll"></i> {{candidate.votes}} 
                        <span v-if="candidate.votes > 1">votes</span>
                        <span v-if="candidate.votes <= 1 || candidate.votes <= 0">vote</span>
                    </li>
                  </ul>
                </div> -->

                <UnmaskedList :propsCandidate="propsCandidate"></UnmaskedList>
            </div>
            <div class="col-lg-4 col-sm-12" v-else v-for="(candidate,index) in propsCandidate" :key="candidate.id" >
                <div class="card   mb-3">
                    <div class="card-body p-0">
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <img class=" img-thumbnail card-img-top img-fluid" src="/images/defaultdp.png" alt="">
                            </div>
                            <div class="col-8 align-self-center">
                                <h3><i class="fas fa-question"></i></h3>
                                <p class="lead">{{candidate.votes}} 
                                    <span v-if="candidate.votes > 1">votes</span>
                                    <span v-if="candidate.votes <= 1 || candidate.votes <= 0">vote</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>

</template>

<script>
    import UnmaskedList from './UnmaskedList'
    import ViewUnmaskedRankingModal from './Modal'
    export default {
        components:{
            ViewUnmaskedRankingModal,
            UnmaskedList
        },
        mounted() {

            this.thisIsMasked = this.ismasked
            if(this.ismasked === 1){
                this.titleText = "Congratulations"
            }
            this.propsCandidate = this.candidates
            setInterval(()=>{
                this.fetchCandidates()
            }, 300000)
        },
        props:['candidates', 'ismasked'],
        data(){
            return{
                propsCandidate: [],
                views:[
                    {key: 1, value: 'Number of votes'},
                    {key: 0, value: 'Created at'},
                ],
                select_view: 0,
                thisIsMasked: '',
                titleText: 'Masked Ranking',
                showModal: false,
                text_password: '',
                passwordNotExists: false,
                radio_view: "1"
            }
        },
        watch:{

        },
        methods:{
            async fetchCandidates(){
                let fd = new FormData();
                fd.append('view', this.select_view);
                let {data} = await axios.post('/candidates/allCandidates', fd);
                this.thisIsMasked = data.ismasked
                this.select_view = data.ismasked
                // this.propsCandidate = data.candidates
                if(data.ismasked == 1){
                    this.propsCandidate = data.candidates
                }else{

                    for(let i in this.propsCandidate){
                        // if(this.propsCandidate[i].id == data.candidates.id)
                        for(let index in data.candidates){
                            if(this.propsCandidate[i].id == data.candidates[index].id){
                                this.propsCandidate[i].votes = data.candidates[index].votes
                            }
                        }
                    }
                }
            },
            handleViewChange(view){
                if(view == 1){
                    this.radio_view = 1
                }else{
                    this.radio_view = 2

                }
            },
            async handleUnmaskedBtnClicked(){
                let fd = new FormData();
                fd.append('password', this.text_password)
                let {data} = await axios.post('verification', fd)
                if(data.isExists){
                    this.titleText = 'Congratulations!'
                    this.thisIsMasked = 1
                    this.select_view = 1
                    this.showModal = false
                    this.propsCandidate = []
                    this.fetchCandidates()
                    // let byVotes = this.propsCandidate
                    // if(this.select_view === 1){
                    //     byVotes = _.orderBy(byVotes, ['votes', function(o){
                    //         return o.votes.length
                    //     }], ['desc', 'desc'])
                    //     this.propsCandidate = byVotes
                    // }else{
                    //     byVotes = _.orderBy(byVotes, ['id', function(o){
                    //         return o.id
                    //     }], ['asc', 'asc'])
                    //     this.propsCandidate = byVotes                    
                    // }                
                }else{
                    this.passwordNotExists = true
                }
                
            }
        },
        computed:{
            thisComponentIsMasked:{
                get: function(){
                    return this.thisIsMasked =  this.ismasked
                },
                set: function(newValue){
                    this.thisIsMasked = newValue
                }

            }
        }
    }
</script>
