<template>
    <div>
        <div class="jumbotron p-0 py-2" v-if="$store.getters.voter != ''">
            <div>
                <div class="row justify-content-center">
                    <h1 class="display-5">
                        Hi {{ $store.getters.voter.first_name }}
                        {{ $store.getters.voter.last_name }}
                    </h1>
                </div>
                <div class="row justify-content-center">
                    <p class="lead">you may cast your vote now.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="spinner-border text-info" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <b-alert :show="$store.getters.vc == null" variant="danger">
                <h1>Heads up!</h1>
                <p class="lead">
                    You are not in the voters' list. Please coordinate with PSP secretariat.
                </p>
            </b-alert>
        </div>
            <form class="mt-3" @submit.prevent="handleCheckVoteCode" >
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-lg text-center" placeholder="Vote code here" v-focus required=""  v-model="text_vc">
                                <small class="d-flex justify-content-center text-info">Please enter your 6-characters voting code</small>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-info" :disabled="!isVotingInputCorrect">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    </div>
</template>

<script>
const focus = {
    inserted(el) {
        el.focus();
    }
};
export default {
    directives: { focus },
    created() {
        this.getSetup();
    },
    mounted() {
        this.getQueryString();
    },
    data() {
        return {
            text_vc: "",
            dismissSecs: 8,
            dismissCountDown: 0,
            isVotingInputCorrect: false
        };
    },
    watch: {
        text_vc(el) {
            if (el.length < 6) {
                this.isVotingInputCorrect = false;
            } else {
                this.isVotingInputCorrect = true;
            }
        }
    },
    methods: {
        handleCheckVoteCode() {
            this.$store.commit("checkMyVoteCode", this.text_vc);
            if (!this.$store.getters.isVoteCodeExists) {
                this.text_vc = "";
            }
        },
        countDownChanged(dismissCountDown) {
            this.dismissCountDown = dismissCountDown;
        },
        getQueryString() {
            var urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has("vcode")) {
                this.text_vc = urlParams.get("vcode");
                // this.$store.commit('checkMyVoteCode', urlParams.get('vcode'));
                // if(!this.$store.getters.isVoteCodeExists){
                //     this.text_vc = ''

                // }
            }
        },
        async checkUsername() {
            var urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has("username")) {
                this.$store.commit(
                    "checkMyUsername",
                    urlParams.get("username")
                );

                // this.text_vc = urlParams.get('username')
                // this.$store.commit('checkMyVoteCode', urlParams.get('vcode'));
                // if(!this.$store.getters.isVoteCodeExists){
                //     this.text_vc = ''

                // }
            }
        },
        async getSetup() {
            try {
                let { data } = await axios.get("/setup/show");
                this.$store.commit("updateSetup", data.setup);
                this.checkUsername();
            } catch (err) {
                alert(err);
            }
        }
    }
};
</script>
