<template>
    <div class="container">
        <!-- modal -->
            <bs4-modal :props_modalshow="showModal">
                <div slot="header">
                    <h3 class="text-info"><i class="fa fa-info-circle"></i>Please read!</h3>
                </div>
                <div slot="body">
                    <p class="lead">
                        <p class="lead">You are about to cast this vote. You have voted {{myVotes.length}} / {{vote_count}}. Would you like to finalize your vote? Click <span class="text-success text-uppercase lead">Cast My Votes</span> to finalize or <span class="text-danger text-uppercase lead">Cancel</span> to review your votes.</p>
                    </p>
                </div>

                <div slot="footer">
                    <button class="btn btn-success btn-sm" :disabled="isCastVoteClick" @click.prevent="handleSaveVote"><i class="fas fa-vote-yea "></i> Cast my votes</button>
                    <button class="btn btn-danger btn-sm" @click.prevent="showModal = false"><i class="fas fa-times "></i> Cancel</button>
                </div>
            </bs4-modal>

        <!--  -->

      

        <div class="row justify-content-center">
            
            <div class="col-lg-9 col-sm-12" v-if="!isFull">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6  mb-3" 
                        v-for="(candidate,index) in candidates" 
                        :key="index"
                        v-if="!candidate.iVoted"
                        @click="handleVoteCandidate(candidate)"
                        style="cursor: pointer;" 
                    >
                        <div class="card rounded-0 " :class="myVotes.some(mv => mv.id === candidate.id) ? 'isSelected border-primary' : ''">
                            <img class="card-img-top img-thumbnail w-100 h75" :src="candidate.dp" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title mb-0">{{candidate.first_name + ' ' + candidate.last_name}}</h4>
                                <p class="text-muted m-0 p-0 mb-1" v-if="candidate.organization">-{{candidate.organization}}</p>
                                <div class="text-center">
                                    <button 
                                        type="button" 
                                        class="btn btn-primary btn-sm"
                                        v-if="!myVotes.some(mv => mv.id === candidate.id)"
                                    >
                                        VOTE
                                    </button>
                                    <button 
                                        type="button" 
                                        class="btn btn-danger btn-sm"
                                        v-else
                                    >
                                        CANCEL
                                    </button>
                                </div>
                                <!-- <p class="text-center" v-if="forCastVote.some(mv => mv.id === candidate.id)"><i class="fa fa-check text-success"></i></p> -->
                            </div>
                        </div>                
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <p class="lead mb-0">Voter's Name</p>
                        <h4 class="card-title">{{$store.getters.voter.first_name}}</h4>
                        <p class="m-0" v-if="$store.getters.voter.designation">{{$store.getters.voter.designation}}</p>
                        <p class="m-0" v-if="$store.getters.voter.organization">{{$store.getters.voter.organization}}</p>
                        <hr class="m-1">
                        <p class="lead mb-0">{{myVotes.length}} / {{vote_count}}</p>
                        <p class="mb-0">You voted for</p>
                        <hr class="m-1">
                        <ul>
                            <li 
                                v-for="myVote in myVotes"
                                :key="myVote.id"
                            >{{myVote.first_name + ' ' + myVote.last_name}}
                            </li>
                        </ul>
                        <hr class="m-1">
                        <div class="row justify-content-center" v-if="!isFull">
                            <div class="col">
                                <button class="btn btn-success btn-lg" v-if="myVotes != ''" @click.prevent="handleOpenConfirmationModal" :disabled="isFull">Cast</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-danger btn-lg" v-if="myVotes != ''" @click="handleResetClicked" :disabled="isFull">Reset</button>
                            </div>
                        </div>
                        <div v-else>
                            <center>
                                <a href="/cast-vote" class="btn btn-info text-light"> <i class="fas fa-list"></i> Cast new </a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import modalComponent from './Modal'
    export default {
        mounted() {
            this.candidates = this.$store.getters.candidates
            this.vote_count = this.$store.getters.setup.vote_count
            this.getMyVotes()
            if(this.myVotes.length == this.vote_count){
                this.isFull = true

            }
        },
        data(){
            return{
                candidates: [],
                myVotes: [],
                forCastVote:[],
                isFull: false,
                forCastVote: [],
                showModal: false,
                vote_count: '',
                isCastVoteClick: false,
            }
        },

        components:{
            modalComponent
        },
        methods:{
            getMyVotes(){
                for(let i in this.candidates){
                    if(this.candidates[i].iVoted){
                        this.isFull = true
                        this.myVotes.push(this.candidates[i])
                    }
                }
            },
            handleVoteCandidate(candidate){
                if(this.myVotes.length < this.vote_count ){
                        // this.myVotes.push(candidate)
                    if(this.myVotes.some(mv => mv.id === candidate.id) || this.isFull){
                        this.myVotes.splice(this.myVotes.findIndex(mv => mv.id === candidate.id),1)
                        // console.log(this.myVotes.findIndex(mv => mv.id === candidate.id))
                        // for(let i in this.myVotes){
                        // }
                    } else{
                        this.forCastVote.push(candidate)
                        this.myVotes.push(candidate)
                    }                
                    // console.log(this.?myVotes.some(mv => mv.id === candidate.id))
                }else{
                    if(this.myVotes.some(mv => mv.id === candidate.id) || this.isFull){
                        this.myVotes.splice(this.myVotes.findIndex(mv => mv.id === candidate.id),1)
                        // console.log(this.myVotes.findIndex(mv => mv.id === candidate.id))
                        // for(let i in this.myVotes){
                        // }
                    }            
                }


                // if(this.myVotes.length <= 3){
                //     if(this.forCastVote == ''){
                //         this.forCastVote.push(candidate)
                //     }else{
                //         for(let i in this.forCastVote){
                //             if(this.forCastVote[i].id == candidate.id){
                //                 this.forCastVote.splice(i,1)
                //             }else{
                //                 this.forCastVote.push(candidate)
                //                 this.myVotes.length =this.myVotes.length+1
                //             }
                //         }
                //     }
                // }
            },
            handleGoBackClicked(){
                this.$store.commit('handleGoBackClicked', '');
            },
            isSelected(candidate){
                for(let i in this.myVotes){
                    if(this.myVotes[i].id == candidate.id){
                        return true
                    }else{
                        return false
                    }
                }                
            },
            handleOpenConfirmationModal(){
                this.showModal = true
            },
            handleSaveVote(){
                this.isCastVoteClick = true
                let fd = new FormData();
                fd.append('vote_code', this.$store.getters.vc);
                fd.append('votes', JSON.stringify(this.myVotes));
                axios
                    .post('/votes/save', fd)
                    .then(({data})=>{
                        this.isFull = true
                        for(let i in this.candidates){
                            for(let index in this.myVotes){
                                if(this.candidates[i].id == this.myVotes[index].id){
                                    this.candidates[i].iVoted = true
                                }
                            }   
                        }
                        // if(this.myVotes.length >= this.vote_count){
                        //     this.isFull = true
                        // }else{
                        //     this.isFull = false

                        // }
                        // this.candidates.push(this.myVotes)
                        this.showModal = false
                    })
                    .catch(error =>{
                        this.isFull = false
                        this.isCastVoteClick = false
                    })
            },
            handleResetClicked(){
                this.myVotes = []
                this.forCastVote = []
                this.getMyVotes();

            }
        }
    }
</script>
