<template>
    <div>
        <bs4-modal :props_modalshow="isClose">
            <div slot="header">
                <h3>Heads up!</h3>
            </div>
            <div slot="body">
                <p class="lead">
                    Voting is officially closed.
                </p>
            </div>

            <div slot="footer">
                <button
                    class="btn btn-success"
                    @click.prevent="handleDoneButtonClosedClicked"
                >
                    OK
                </button>
            </div>
        </bs4-modal>
        <!-- 
        <div class="row">
            <div class="col text-center">
                <h3>2021 Virtual Election for the Members of the PCQACL Board of Trustees</h3>
                <br>
            </div>

        </div>
        -->
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <div class="row">
                    <div class="col-lg-3 col-sm p-1 col-md">
                        <div class="card card-info bg-info text-light ">
                            <div class="card-body text-center p-0">
                                <p class="lead py-1 m-0">{{ days }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm p-1 col-md">
                        <div class="card card-info bg-info text-light">
                            <div class="card-body text-center p-0">
                                <p class="lead py-1 m-0">{{ hours }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm p-1 col-md">
                        <div class="card card-info bg-info text-light">
                            <div class="card-body text-center p-0">
                                <p class="lead py-1 m-0">{{ minutes }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm p-1 col-md">
                        <div class="card card-info bg-info text-light">
                            <div class="card-body text-center p-0">
                                <p class="lead py-1 m-0">{{ seconds }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            Time remaining before voting closes
        </div>
        <hr />
        <p></p>
        <cast-vote-form v-if="!$store.getters.vc"></cast-vote-form>
        <cast-vote-select v-else></cast-vote-select>
    </div>
</template>

<script>
export default {
    mounted() {
        this.countDownEndTime = new Date(
            this.props_settings.end_period
        ).getTime();
        this.countDownStart();
        let x = setInterval(() => {
            this.countDownStart();
            if (this.distance < 0) {
                clearInterval(x);
                this.isClose = true;
            }
        }, 1000);
    },
    props: ["props_settings"],
    data() {
        return {
            days: "",
            hours: "",
            minutes: "",
            seconds: "",
            isClose: false,
            distance: ""
        };
    },
    methods: {
        countDownStart() {
            // let countDownEndTime = new Date("Jan 5, 2021 15:37:25").getTime();
            // let now = new Date().getTime();
            // let distance  = countDownEndTime - now;
            let now = new Date().getTime();
            this.distance = this.countDownEndTime - now;

            // Time calculations for days, hours, minutes and seconds
            this.days = Math.floor(this.distance / (1000 * 60 * 60 * 24)) + "d";
            this.hours =
                Math.floor(
                    (this.distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
                ) + "h";
            this.minutes =
                Math.floor((this.distance % (1000 * 60 * 60)) / (1000 * 60)) +
                "m";
            this.seconds =
                Math.floor((this.distance % (1000 * 60)) / 1000) + "s";
            // setInterval(function(){
            //     // alert('test')
            // }, 1000)

            // Output the result in an element with id="demo"
            // document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            // + minutes + "m " + seconds + "s ";
        },
        handleDoneButtonClosedClicked() {
            window.location.href = "/cast-vote";
        }
    }
};
</script>
