<template>
    <div class="container mt-5" >
        <div class="row justify-content-center">
            <div class="col-5">
                <div class="card rounded-0 border-success">
                    <div class="card-body">
                        <h3 class="card-title text-center text-success"><u>Administrator Login</u></h3>
                        <div class="alert alert-danger" role="alert" v-if="hasError">
                            <strong>Something went wrong!</strong> Username/password not found.
                        </div>
                        <form @submit.prevent="handleLogin">
                            <div class="form-group mt-4">
                              <div class="form-group">
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user "></i></span>
                                  </div>
                                  <input 
                                    type="text" 
                                    class="form-control form-control-lg" 
                                    placeholder="Username " 
                                    v-model="text_username"
                                  >
                                </div>
                              </div>
                            </div>              
                            <div class="form-group">
                              <div class="form-group">
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key "></i></span>
                                  </div>
                                  <input 
                                    type="password" 
                                    class="form-control form-control-lg" 
                                    placeholder="Password " 
                                    v-model="text_password"
                                  >
                                </div>
                              </div>
                            </div>  
                            <div class="form-group mt-4">
                              <div class="form-group">
                                <btn-component :fa="fa" :labeltext="labeltext" :isLoading="isLoading"></btn-component>

                              </div>
                            </div>                                              
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</template>

<script>
    import BtnComponent from './BtnComponent'
    export default {
        mounted() {
        },
        data(){
            return{
                text_username:'',
                text_password:'',
                hasError: false,
                isLoading: false,
                labeltext: 'Login',
                fa: 'fas fa-sign-in-alt'
            }
        },
        methods:{
            handleLogin(){
                this.isLoading = !this.isLoading
                this.labeltext = 'Please wait'
                let fd = new FormData();
                fd.append('email', this.text_username);
                fd.append('password', this.text_password);

                axios
                    .post('login', fd)
                    .then((res)=>{
                        window.location.href="/admin/overview"
                    })
                    .catch(({response}) => {
                        this.hasError = !this.hasError
                        this.isLoading = !this.isLoading
                        this.labeltext = 'Login'
                    });
            }
        },
        components:{
            'btn-component': BtnComponent
        }

    }
</script>
