<template lang="">
    <div class="container">
        
        <div class="alert alert-info text-center p-5" role="alert">
            <h1><i class="fa fa-info-circle"></i> {{message}}</h1>
        </div>
    </div>
</template>
<script>
export default {
    props:['message']
    
}
</script>
<style scoped>
.centered {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}    
</style>