<template>
    <div class="container">
        <div v-if="page == 1">
            <div class="card mt-5 rounded-0">
                <div class="card-body">
                    <h3 class="card-title">Setup new Voting System</h3>
                    <hr>
                    <form>
                      <fieldset>
                        <div class="form-group row">
                          <label for="staticEmail" class="col-sm-2 col-form-label">Company name</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Company name here">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputFile">Company Logo</label>
                          <input type="file" class="form-control-file">
                        </div>              
                      </fieldset>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button type="button" class="btn btn-primary float-right">Next</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
        },
        data(){
            return{
                page: 1
            }
        }
    }
</script>
