<template>
    <ul class="list-group " >
      <li class="list-group-item d-flex justify-content-between align-items-center rounded-0" v-for="(candidate,index) in propsCandidate" :key="candidate.id" >
        <div class="row align-items-center">
            <div class="col-1 "><h1>{{index+1}}</h1></div>
            <div class="col-3">
                <img :src="candidate.dp" class="img-fluid img-thumbnail" style="object-fit: cover; height: 80px;" alt="">
            </div>
            <div class="col-7">
                <p class="lead p-0 m-0">{{candidate.first_name +" "+ candidate.last_name}}</p>
                <p class=" p-0 m-0">{{candidate.votes}} 
            <span v-if="candidate.votes > 1">votes</span>
            <span v-if="candidate.votes <= 1 || candidate.votes <= 0">vote</span></p>
            </div>
        </div>
      </li>
    </ul>
</template>

<script>
    export default {
        mounted() {
        },
        props: ['propsCandidate']
    }
</script>
