<template>
    <div>
        <div class="card mt-5 rounded-0">
            <div class="card-body">
                <h3 class="card-title">Setup new Voting System</h3>
                <p class="lead">Company information</p>
                <hr>
                <form>
                  <fieldset>
                    <div class="form-group row">
                      <label for="companyName" class="col-sm-2 col-form-label" >Company name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Company name here" v-model="text_companyName">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="voteCount" class="col-sm-2 col-form-label" >Vote Count</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Total number of vote per voter" maxlength="2" v-model="text_voteCount">
                        <p v-show="isNotInteger" class="text-danger">Vote count must be integer.</p>
                      </div>
                    </div>                    
                    <div class="form-group">
                      <label for="exampleInputFile">Company Logo</label>
                      <input type="file" class="form-control-file" accept="image/x-png,image/gif,image/jpeg" @change="handleFileChange">
                    </div>  
                    <div class="form-group">
                      <label for="exampleInputFile">Event Logo</label>
                      <input type="file" class="form-control-file"  accept="image/x-png,image/gif,image/jpeg" @change="handleFileEventLogoChange">
                    </div>                                 
                  </fieldset>
                </form>
            </div>
        </div>
        <div class="row mt-3" v-if="isEmpty(hasBlank)">
            <div class="col">
                <button type="button" class="btn btn-primary float-right" @click="handleClickNext">Next</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                text_companyName: '',
                text_voteCount: '',
                hasBlank: ['text_companyName', 'file_logo', 'text_voteCount', 'file_event_logo'],
                isNotInteger: false
            }
        },
        mounted() {
        },
        watch:{
          text_companyName(e){
            this.$store.commit('changeCompanyName', e)
            for( var i = 0; i < this.hasBlank.length; i++){ 
                if ( this.hasBlank[i] === 'text_companyName') {
                this.hasBlank.splice(i, 1); 
                }
            }
          },
          text_voteCount(e){
            this.isNotInteger = false
            if(/([0-9])/.test(e)){
                this.$store.commit('changeVoteCount', e)
                for( var i = 0; i < this.hasBlank.length; i++){ 
                    if ( this.hasBlank[i] === 'text_voteCount') {
                    this.hasBlank.splice(i, 1); 
                    }
                }
            }else{
                this.hasBlank[1] ='text_voteCount'
                this.isNotInteger = true
            }
          }
        },
        methods:{
            handleClickNext(){
                this.$store.commit('changeSetupPage', 2)
            },
            handleFileChange(e){
                // e.target.options[e.target.options.selectedIndex].dataset.val
                // console.log()
                this.$store.commit('changeCompanyLogo', e.target.files[0])
                for( var i = 0; i < this.hasBlank.length; i++){ 
                   if ( this.hasBlank[i] === 'file_logo') {
                     this.hasBlank.splice(i, 1); 
                   }
                }                

            },
            handleFileEventLogoChange(e){
              console.log(e)
              this.$store.commit('changeEventLogo', e.target.files[0])
                for( var i = 0; i < this.hasBlank.length; i++){ 
                   if ( this.hasBlank[i] === 'file_event_logo') {
                     this.hasBlank.splice(i, 1); 
                   }
                } 
            },
            isEmpty(obj) {
                for(var key in obj) {
                    if(obj.hasOwnProperty(key))
                        return false;
                }
                return true;
            }            
        }
    }
</script>
