<template>
    <div>
        <div class="card mt-5 rounded-0">
            <div class="card-body">
                <h3 class="card-title">Setup new Voting System</h3>
                <p class="lead">Administrator information</p>
                <hr>
                <form>
                  <fieldset>
                    <div class="form-group row">
                      <label for="name" class="col-sm-2 col-form-label" >Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Name here" v-model="text_name">
                      </div>
                    </div>                    
                    <div class="form-group row">
                      <label for="email" class="col-sm-2 col-form-label" >Username</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Username here" v-model="text_email">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="password" class="col-sm-2 col-form-label" >Password</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" placeholder="Password here" v-model="text_password">
                      </div>
                    </div>  
                    <div class="form-group row">
                      <label for="cpassword" class="col-sm-2 col-form-label" >Confirm Password</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" placeholder="Confirm password" v-model="text_cpassword">
                      </div>
                    </div>                                
                  </fieldset>
                </form>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button type="button" class="btn btn-primary " @click="handleClickPrev">Previous</button>
            </div>            
            <div class="col ">
                <button type="button" class="btn btn-success float-right" @click.prevent="handleClickFinish">Finish</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                text_name: '',
                text_email: '',
                text_password: '',
                text_cpassword: '',
            }
        },
        mounted() {
        },
        watch:{
          text_name(e){
              this.$store.commit('changeAdminName', e)
          },
          text_email(e){
              this.$store.commit('changeAdminEmail', e)
          },          
          text_password(e){
              this.$store.commit('changeAdminPassword', e)
          },           
        },
        methods:{
            handleClickFinish(){
                this.$store.commit('handleSubmitNew')
            },
            handleClickPrev(){
                this.$store.commit('changeSetupPage', 1)

            }
        },
        beforeMount(){
            this.company_name = this.companyName
        }
    }
</script>
