<template>
    <div class="container">
        <keep-alive>
            <firstStep 
                v-if="$store.getters.setupPage == 1"
            >
            </firstStep>
            <secondStep v-if="$store.getters.setupPage == 2"></secondStep>
        </keep-alive>
    </div>
</template>

<script>
    import firstStep from './FirstStep';
    import secondStep from './SecondStep';
    export default {
        mounted() {
        },
        components: {
            firstStep,
            secondStep
        }
    }
</script>
